*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* font-size en px que queremos / font-size default del navegador * 100 = font-size en %  */
  /* 10px / 16px * 100 = 62.5% */
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow: hidden; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000; }

.primary-heading {
  font-size: 3.5rem;
  color: #005CB9;
  font-weight: 500; }

.secondary-heading {
  font-size: 3rem;
  color: #005CB9;
  font-weight: 400; }

.tertiary-heading {
  font-size: 2.5rem;
  color: #005CB9;
  font-weight: 400; }

.btn, .btn:link, .btn:visited {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
  padding: .8rem 1rem;
  background-color: #005CB9;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 3rem;
  backface-visibility: hidden;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.1rem 0.5rem rgba(82, 82, 82, 0.7); }

.sidebar__btn {
  display: block;
  height: calc(97.5% / 10);
  transition: .2s all; }
  .sidebar__btn:hover {
    background-color: #005CB9; }

.sidebar__link {
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sidebar__link-icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: transparent;
    stroke: #ffffff;
    text-align: center; }
  .sidebar__link-text {
    font-size: 1rem;
    font-weight: 500;
    margin-top: .5rem; }

.sidebar .icon-ti {
  padding-top: 2rem; }

.sidebar .icon-afimex {
  width: 7rem;
  height: 7rem;
  margin-top: -1.3rem; }

.sidebar .icon-afimex + span {
  margin-top: -2rem; }

.form__group {
  margin: 2.5rem 3rem; }

.form__box-icon {
  display: inline-block;
  position: absolute; }

.form__icon {
  width: 2rem;
  height: 2rem;
  fill: transparent;
  stroke: #005CB9;
  stroke-width: 1px;
  vertical-align: baseline; }

.form__label {
  display: inline;
  vertical-align: middle;
  font-size: 1.5rem;
  color: #005CB9;
  margin-left: 2.5rem; }

.form__input {
  display: block;
  border: 1px solid #005CB9;
  border-radius: 4px;
  padding: .8rem 1rem;
  width: 100%;
  transition: all .2s; }
  .form__input:focus {
    outline: none;
    border: 1px solid #FF6B00; }

.carrousel__arrow-prev svg {
  fill: cadetblue; }

.search {
  flex: 0 0 40%;
  display: flex; }
  .search__input {
    background-color: #FF6B00;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 1rem 1.5rem;
    width: 70%;
    border: solid 0.1rem #ffffff;
    border-right: none;
    border-top-left-radius: .7rem;
    border-bottom-left-radius: .7rem;
    transition: .2s all; }
    .search__input:focus {
      outline: none;
      color: black;
      background-color: #ffffff;
      border: solid 0.1rem #005CB9;
      border-right: none; }
    .search__input::placeholder {
      color: #ffffff; }
  .search__button {
    background-color: transparent;
    border: solid 0.1rem #ffffff;
    border-left: none;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
    margin-left: 0;
    padding-left: 1.2rem;
    padding-right: 1rem;
    transition: .2s all; }
  .search__input:focus + .search__button {
    border: solid 0.1rem #005CB9;
    background-color: #005CB9;
    border-left: none; }
  .search__icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: #ffffff;
    stroke-width: .1rem;
    fill: transparent; }

.flex-container {
  display: flex; }

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px; }

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }

.col:first-child {
  margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%; }

.span_11_of_12 {
  width: 91.53%; }

.span_10_of_12 {
  width: 83.06%; }

.span_9_of_12 {
  width: 74.6%; }

.span_8_of_12 {
  width: 66.13%; }

.span_7_of_12 {
  width: 57.66%; }

.span_6_of_12 {
  width: 49.2%; }

.span_5_of_12 {
  width: 40.73%; }

.span_4_of_12 {
  width: 32.26%; }

.span_3_of_12 {
  width: 23.8%; }

.span_2_of_12 {
  width: 15.33%; }

.span_1_of_12 {
  width: 6.866%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%; }
  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%; } }

.header {
  background-color: #FF6B00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh; }

.header__logo {
  width: 8%;
  margin-left: .5%; }

.logout-container {
  display: flex;
  align-items: center; }

.logout__button {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  border: none;
  background-color: transparent;
  margin-right: 3rem;
  display: flex;
  align-items: center; }
  .logout__button:hover {
    cursor: pointer; }

.logout__icon {
  width: 3rem;
  height: 3rem;
  padding-right: 1rem;
  fill: transparent;
  stroke: #ffffff;
  stroke-width: .1rem; }

.main-content {
  background-color: #ffffff;
  padding: 1.5rem;
  flex: 1; }

.sidebar {
  background-color: #FF6B00;
  flex: 0 0 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 93vh; }

.body-login {
  overflow-y: hidden; }

.rect {
  position: absolute;
  width: 100rem;
  height: 9rem;
  z-index: -10; }

.rectangulo-naranja {
  transform: rotate(45deg);
  background-color: #FF6B00;
  top: 10rem;
  right: 100rem; }

.rectangulo-naranja-invertido {
  transform: rotate(315deg);
  background-color: #FF6B00;
  top: 74.4rem;
  right: 100rem; }

.rectangulo-azul {
  transform: rotate(45deg);
  background-color: #005CB9;
  top: 10rem;
  right: 80rem; }

.rectangulo-azul-invertido {
  transform: rotate(315deg);
  top: 74.4rem;
  background-color: #005CB9;
  right: 80rem; }

.rectangulo-naranja-sec {
  transform: rotate(45deg);
  background-color: #FF6B00;
  top: 10rem;
  right: 10rem; }

.rectangulo-naranja-invertido-sec {
  transform: rotate(315deg);
  top: 74.4rem;
  background-color: #FF6B00;
  right: 10rem; }

.rectangulo-azul-sec {
  transform: rotate(45deg);
  background-color: #005CB9;
  top: 10rem;
  right: -10rem; }

.rectangulo-azul-invertido-sec {
  transform: rotate(315deg);
  top: 74.4rem;
  background-color: #005CB9;
  right: -10rem; }

.login {
  position: absolute;
  width: 25%;
  height: 80%;
  border-radius: .4rem;
  background-color: #ffffff;
  box-shadow: 0.1rem 0.2rem 1rem rgba(82, 82, 82, 0.7);
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%); }
  .login__logo-box {
    display: block;
    text-align: center;
    padding-top: 4rem; }
  .login__logo {
    width: 70%; }
  .login__heading {
    color: #005CB9;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 2rem; }
