$primary-color: #FF6B00;
$secondary-color: #005CB9;
$color-white: #ffffff;
$color-black: #000000;

$color-shadow: rgba(0, 0, 0, .16);

// FONT WEIGHT
$thin: 100;
$light: 200;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;