// Mis variables
$primary-color: #FF6B00;
$secondary-color: #005CB9;
$color-white: #ffffff;
$color-black: #000000;

$color-shadow: rgba(0, 0, 0, .16);

// BORDERS Modificaciones
$border-width:                .05rem;
$border-widths: (
  1: .5rem,
  2: 1rem,
  3: 1.5rem,
  4: 2rem,
  5: 2.5rem
);

$border-color:                $color-shadow;

$border-radius:               .25rem;
$border-radius-sm:            .3rem;
$border-radius-lg:            .4rem;
$border-radius-pill:          50rem;

// --------------------------------------------

// SHADOWS Modificaciones
$box-shadow:                  0rem .2rem .5rem .2rem $color-shadow;
$box-shadow-sm:               0 .125rem .25rem $color-shadow;
$box-shadow-lg:               0 1rem 3rem $color-shadow;
$box-shadow-inset:            inset 0 1px 2px $color-shadow;

// --------------------------------------------

// CARDS Modificaciones
$card-border-color: #ffffff;
$card-border-radius: $border-radius-lg;

// --------------------------------------------

// COLORS Modificaciones
$primary: #FF6B00;
$secondary: #005CB9;

// --------------------------------------------

// TABLES Modificaciones
$table-cell-padding-y:        1rem;
$table-cell-padding-x:        .7rem;

$table-striped-color:         $color-black;
$table-striped-bg-factor:     .035;
$table-striped-bg:            rgba($color-shadow, $table-striped-bg-factor);

$table-hover-color:           $color-black;
$table-hover-bg-factor:       .035;
$table-hover-bg:              rgba($color-shadow, $table-hover-bg-factor);

$table-border-factor:         .1;
$table-border-width:          $border-width;
// $table-border-width:          map-get($border-widths, 1);
$table-border-color:          $color-shadow;

// --------------------------------------------

// MODAL Modificaciones
$modal-title-line-height:          1.2rem;
$modal-content-border-width:        none;
$modal-content-border-radius:       $border-radius-lg;

$modal-backdrop-bg:                 $color-black;
$modal-backdrop-opacity:            .36;

// --------------------------------------------

// CLOSE BUTTON Modificaciones
$btn-close-width:            1em;
$btn-close-padding-x:        .5em;
$btn-close-color:            $color-black;
$btn-close-focus-shadow:     none;
$btn-close-opacity:          .7;
$btn-close-hover-opacity:    .95;

// --------------------------------------------

// FORMS Modificaciones
$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         .75rem;

$input-btn-font-size:         1rem;

$input-btn-focus-width:         .1rem;
$input-btn-focus-color-opacity: 1;


// --------------------------------------------

// FORM CONTROL Modificaciones

$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       $input-btn-padding-x;
$input-font-size:                       $input-btn-font-size;

$input-disabled-bg:                     $color-shadow;
$input-disabled-border-color:           $color-shadow;

$input-border-color:                    $secondary-color;
$input-border-width:                    0.1rem;
$input-box-shadow:                      0rem .2rem .5rem .2rem $color-shadow;

$input-focus-border-color:              transparent;
$input-focus-width:                     0.1rem;

$input-border-radius:                   .4rem;

$input-transition:                      border-color .2s ease;

// --------------------------------------------

// FORM LABEL Modificaciones
$form-label-margin-bottom:              .2rem;
$form-label-color:                      $secondary-color;

// --------------------------------------------

// FORM FILE BUTTON Modificaciones
$form-file-button-bg:             $color-shadow;

// --------------------------------------------

// FORM SELECT Modificaciones
$form-select-padding-y:             $input-btn-padding-y;
$form-select-padding-x:             $input-btn-padding-x;
$form-select-disabled-bg:           $color-shadow;
$form-select-disabled-border-color: $color-shadow;
$form-select-indicator-color:       $color-black;

$form-select-border-width:        .1rem;
$form-select-border-radius:       .4rem;
$form-select-box-shadow:          0rem .2rem .5rem .2rem $color-shadow;

$form-select-transition:          border-color .2s ease;

// --------------------------------------------

// FORM CHECKBOXES AND RADIOS Modificaciones
$form-check-input-width:                  1em;
$form-check-margin-bottom:                .5rem;
$form-check-transition:                   .2s ease;

$form-check-input-checked-color:          $color-white;
$form-check-input-checked-bg-color:       $secondary-color;
$form-check-input-checked-border-color:   $secondary-color;

// --------------------------------------------

// FORM RANGE Modificaciones
$form-range-track-height:         .150rem;
$form-range-track-bg:             $color-shadow;

$form-range-thumb-active-bg:      $secondary-color;

$form-range-thumb-transition:     background-color .2s ease, border-color .2s ease, box-shadow .2s ease;

// --------------------------------------------

// FORM INPUT GROUP Modificaciones
$input-group-addon-padding-y:           $input-btn-padding-y;
$input-group-addon-padding-x:           $input-btn-padding-x;
$input-group-addon-bg:                  $secondary-color;
$input-group-addon-color:               $color-white;
$input-group-addon-border-color:        $secondary-color;

// --------------------------------------------

// BUTTONS Modificaciones
$btn-border-width:            .4rem;

$btn-font-weight:             500;
$btn-transition:              color .2s ease, background-color .2s ease, border-color .2s ease, box-shadow .4s ease;

// --------------------------------------------


// este import siempre va despues de la edicion de los elementos de bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


// .....................................................................

@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/button-sidebar";
@import "components/card-destacados";
@import "components/comment";
@import "components/form-login";
@import "components/carrousel";
@import "components/search";

@import "layout/flex-container";
// @import "layout/grid";
@import "layout/header";
@import "layout/main-content";
@import "layout/sidebar";

@import "pages/home";
@import "pages/login";
