.header {
    background-color: $primary-color;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 10%;
    margin-left: .5%;
}

.logout-container {
    display: flex;
    align-items: center;
}

.logout
{
    &__button {
        font-size: 1.4rem;
        font-weight: 600;
        color: $color-white;
        border: none;
        background-color: transparent;
        margin-right: 3rem;

        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
    
    &__icon {
        width: 3rem;
        height: 3rem;
        padding-right: 1rem;
        fill: transparent;
        stroke: $color-white;
        stroke-width: .1rem;
    }
}