.header {
    background-color: $primary-color;
    height: 9vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include respond(big-desktop) {
        height: 6vh; //hubo cambio
    }

    @include respond(tab-land) {
        height: 8vh;
    }

    @include respond(tab-port) {
        flex-wrap: wrap;
        padding: 3rem 0rem;
        height: 10%;
        align-content: space-around;
    }

    @include respond(phone) {
        padding: 2rem 0rem;
        height: 10%;
    }


    &__logo {
        width: 12rem;
        margin-left: 0;
        margin-left: 1rem;
        
        @include respond(tab-port) {
            width: 10rem;
        }
    }
    
}

.user-nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    &__username {
        font-size: 1.4rem;
        font-weight: $semi-bold;
        color: $color-white;
    }

    &__arrow {
        width: 3rem;
        height: 3rem;
        padding-right: 1rem;
        margin-top: 1rem;
        fill: transparent;
        stroke: $color-white;
        stroke-width: .1rem;
        transform: rotate(90deg);
    }

    &__list {
        list-style: none;
        margin: 0;
        background-color: $primary-color;    
        padding: .5rem 2rem;
        position: relative;
        // width: 100%;
        top: 4rem;
        right: 10rem;
        // display: none;

        @include respond(tab-land) {
            top: 6rem;
            right: 1rem;
        }

        &-item {
            display: inline-block;
            font-size: 1.2rem;
            font-weight: $semi-bold;
            color: $color-white;    
        }
    }
}

.logout {
    &__button {
        font-size: 1.4rem;
        font-weight: $semi-bold;
        color: $color-white;    
        border: none;
        background-color: transparent;
        // padding-bottom: 1rem;
        display: flex;
        align-items: center;

        // &:hover {
        //     cursor: pointer;
        // }
    }
    
    &__icon {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        fill: transparent;
        stroke: $color-white;
        stroke-width: .1rem;
    }
}

.footer {
    background-color: $primary-color;
    color: $color-white;
    flex: 0 0 100%;
    display: flex;
    justify-content: space-around;
    padding: .5rem 0rem;

    @include respond(tab-port) {
        visibility: hidden;
    }

    &-privacy:link,
    &-privacy:visited {
        color: $color-white;
        text-decoration: none;

        transition: border-bottom .2s ease-out;

        &:hover {
            border-bottom: .1rem solid $color-white;
        }
    }
}