.header {
    background-color: $primary-color;
    height: 9vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include respond(big-desktop) {
        height: 8vh;
    }

    @include respond(tab-land) {
        height: 7vh;
    }

    @include respond(phone) {
        flex-wrap: wrap;
        height: 12vh;
        align-content: space-around;
    }

    &__logo {
        width: 12rem;
        margin-left: 0;
        margin-left: 1rem;
        
        @include respond(phone) {
            width: 10rem;
        }
    }
    
}

.user-nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;



    &__username {
        font-size: 1.4rem;
        font-weight: $semi-bold;
        color: $color-white;
    }

    &__arrow {
        width: 3rem;
        height: 3rem;
        padding-right: 1rem;
        margin-top: 1rem;
        fill: transparent;
        stroke: $color-white;
        stroke-width: .1rem;
        transform: rotate(90deg);
    }

    &__list {
        list-style: none;
        margin: 0;
        background-color: $primary-color;    
        padding: 1rem 2rem;
        position: relative;
        top: 3.5rem;
        right: 10rem;
        display: none;

        &-item {
            display: inline-block;
            font-size: 1.4rem;
            font-weight: $regular;
            color: $color-white;    
        }
    }
}

.logout {
    &__button {
        color: $color-white;    
        border: none;
        background-color: transparent;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;

        // &:hover {
        //     cursor: pointer;
        // }
    }
    
    &__icon {
        width: 2rem;
        height: 2rem;
        margin-left: 1rem;
        fill: transparent;
        stroke: $color-white;
        stroke-width: .1rem;
    }
}