.sidebar {
    background-color: $primary-color;
    flex: 0 0 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: 91vh;

    @include respond(big-desktop) {
        height: 95vh;
    }

    @include respond(tab-land) {
        height: 100vh;
    }

    @include respond(tab-port) {
        order: 1;
        width: 100vw;
        height: auto;

        padding: 0;
        margin: 0;
        position: fixed;
        bottom: 0;
        left: 0;

        overflow-y: scroll;

        z-index: 10;
    }

    &-nav {
        font-size: 1.4rem;
        list-style: none;
        padding: 0;

        @include respond(tab-port) {
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            align-items: center;
        }
        
        @include respond(phone) { 
            justify-content: stretch;
        }

        // &:hover {
        //     // animation: increaseSidebar 1.3s ease-out;
        //     // width: 15rem;
        //     // height: 100rem;
        //     // display: inline;
        // }
        
        // &:hover > &__item &__link &__link-text {
        //     // animation: moveInLeft 1.3s ease-out;
        //     // display: inline;
        //     // visibility: visible;
        //     // font-size: 1rem;
    
        // }
    }


}




