.sidebar {
    background-color: $primary-color;
    flex: 0 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(phone) {
        // flex: 1;
        order: 1;
        padding: 0;
        margin: 0;
        width: 100vw;
        // position: fixed;
        // bottom: 0;
        // left: 0;
        // overflow: visible;
        overflow-y: scroll;
        // z-index: 10;
    }

    &-nav {
        font-size: 1.4rem;
        list-style: none;
        padding: 0;
        // transition: font-size 10s;

        
        @include respond(phone) { 
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: stretch;
            align-items: center;
        }

        // &:hover {
        //     // animation: increaseSidebar 1.3s ease-out;
        //     // width: 15rem;
        //     // height: 100rem;
        //     // display: inline;
        // }
        
        // &:hover > &__item &__link &__link-text {
        //     // animation: moveInLeft 1.3s ease-out;
        //     // display: inline;
        //     // visibility: visible;
        //     // font-size: 1rem;
    
        // }
    }


}




