.sidebar {

    background-color: $primary-color;
    display: flex;
    flex: 0 0 9%;
    flex-direction: column;
    position: sticky;
    top: 0;
    justify-content: space-between;
    overflow-y: auto;
    height: 100vh;  

    @include respond(big-desktop) {
        position: sticky;
        top: 0;
        flex-basis: 7%; //hubo cambio
    }

    @include respond(tab-land) {
        height: 100vh;
    }

    @include respond(phone) {
        position: sticky;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: auto;
        z-index: 10;
    }

    @include respond(tab-port) {

        order: 1;
        flex-grow: 1;
        margin-top: 30%;
        width: 100vw;
        height: auto;

    }

    &-nav {
        font-size: 1.4rem;
        list-style: none;
        padding: 0;


        @include respond(tab-port) {
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            align-items: center;
        }
        
        @include respond(phone) { 
            justify-content: stretch;
        }
    }


}




