.sidebar-nav {
    &__item {
        display: block;
        // width: 100%;
        height: calc(inherit/ 10);
        transition: .2s all;
        
        &:hover {
            background-color: $secondary-color;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-white;
        text-align: center;
        padding: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        &-icon {
            width: 3rem;
            height: 3rem;
            fill: transparent;
            stroke: $color-white;
            text-align: center;
        }

        &-text {
            // text-align: center;
            font-size: 1rem;
            font-weight: $medium;
            margin-top: .5rem;
            // display: none;
            // visibility: hidden;
        }

        &:hover {
            color: $color-white;
        }
    }

    // .icon-ti {
    //     padding-top: 2rem;
    // }

    .icon-afimex {
        width: 6rem;
        height: 6rem;
        margin-top: -1.3rem;
    }

    .icon-afimex + span {
        margin-top: -1rem;
    }

}