.sidebar {
    &__btn {
        text-decoration: none;
        color: $color-white;
        padding: 1rem;
        width: auto;
        height: calc(90vh / 6);

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        
        transition: .2s all;

        &:hover {
            background-color: $secondary-color;
        }
    }
    
    &__btn-icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: transparent;
        stroke: $color-white;
        // stroke-width: 1rem;
    }

    &__btn-text {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        margin-top: .5rem;
    }

}