.carrousel {
    max-width: 60vw;
    transform: translateX(50%);
    @include shadowBox
}

.splide__slide__container img {
    width: 100%;
    height: auto;
}

.splide__arrow-custom {
    font-size: 1.2rem;
}

.splide__arrow-custom-prev {
    background-color: transparent;
    fill: $color-black;
}

.splide__arrow-custom-next {
    background-color: transparent;
    fill: $color-black;
}

.splide__pagination-custom {
    background-color: transparent;
}

.splide__pagination__page {
    background-color: $secondary-color;
}

.splide__pagination__page.is-active {
    background-color: $primary-color;
}