// #carrousel-container {
//     position: relative;
//     width: 100%;
//     transform: translate(0%);
// }

.carrousel {
    position: relative;
    max-width: 75vw;
    transform: translate(50%);
    z-index: 10;
    // @include shadowBox;

    @include respond(tab-land) {
        width: 100%;
        transform: translateX(55%);    
    }

    @include respond(tab-port) { 
        width: 100%;
        height: auto;
    }

    @include respond(comments) {
        transform: translate(13%);
    }

    @include respond(phone) { 
        transform: translate(13%);
        padding-bottom: 3rem;
    }
}

.splide__slide__container img {
    width: 100%;
    height: auto;
}

.splide__arrow-custom {
    font-size: 1.2rem;
}

.splide__arrow-custom-prev {
    background-color: transparent;
    fill: $color-black;

    @include respond(phone) {
        fill: transparent;
    }
}

.splide__arrow-custom-next {
    background-color: transparent;
    fill: $color-black;

    @include respond(phone) {
        fill: transparent;
    }
}

.splide__pagination-custom {
    background-color: transparent;
}

.splide__pagination__page {
    background-color: $secondary-color;
    @include respond(phone) {
        background-color: transparent;
    }
}

.splide__pagination__page.is-active {
    background-color: $primary-color;
    @include respond(phone) {
        background-color: transparent;
    }
}