.card {

  &:hover, &:active {
    @include shadowBox;
  }

  &-destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;

    transition: box-shadow .2s ease-out;

    &:hover &__icon {
      stroke: $primary-color;
    }
  }

  &-destacados__icon {
    width: 5rem;
    height: 5rem;
    fill: $color-white;
    stroke: $secondary-color; 

    transition: stroke .2s ease-out;
  }

}

// .ups-filled {
//   // stroke-width: 1;
//   // width: 4rem;
  
// }