.card {

  &-link {
    text-decoration: none; 
    color: $color-black;
  }

  &-option {
    display: flex;
    padding: 2rem;
    justify-content: space-around;
    transition: box-shadow .2s ease-out;

    &:hover, &:active {
      @include shadowBox;
    }

    @include respond(tab-port) {
      align-items: center;
    }

    &:hover &__icon {
      stroke: $primary-color;
    }

    &:hover &_text {
      color: $color-black;
    }

    &__header {
      flex-basis: 1;
      padding-bottom: .5rem;      
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      @include respond(tab-port) {
        justify-content: center;
      }

    }

    &__icon {
      width: 5rem;
      height: 5rem;
      fill: $color-white;
      stroke: $secondary-color; 
      align-items: center;
  
      transition: stroke .2s ease-out; 
    }

    &__text {
      margin-left: 1.2rem;
      
      transition: color .2s ease-out;

      @include respond(tab-port) {
        font-size: .95rem;
      }
    }
  }

  &-destacado {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;

    transition: box-shadow .2s ease-out;

    &:hover, &:active {
      @include shadowBox;
    }

    &:hover &__icon {
      stroke: $primary-color;
    }

    &__icon {
      width: 4.5rem;
      height: 4.5rem;
      fill: $color-white;
      stroke: $secondary-color; 
  
      transition: stroke .2s ease-out;
    }
  }


}

.ups-filled {
  width: 3.6rem;
  height: 3.6rem;  
}