#comments-body {
    visibility: hidden;
}
.comments {
    // experimentacion
    border-radius: .4rem;
    background-color: $color-white;
    // @include shadowBox;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: auto;
    height: inherit;
    // z-index: 0;

    @include respond(phone) { 
        // width: 100%;
        box-shadow: none;
    }

    &__button {
        border: none;
        background-color: $secondary-color;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: .7rem;
        position: absolute;
        right: -4.5rem;
        top: 0;

        @include respond(tab-port) {
            right: -3.7rem;
        }

        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: .5rem;
            fill: transparent;
            stroke: $color-white;
        
            @include respond(tab-port) {
                width: 1.7rem;
                height: 1.7rem;
            }
        }
    }

    &__container {
        height: 25vh;
        background-color: $color-white;
        border-top-width: .1rem;
        border-top-style: solid;
        border-top-color: $primary-color;
        overflow: auto;
        padding: 1rem;

        @include respond(big-desktop) {
            height: 100%;
        }

        @include respond(tab-land) {
            height: 10vh;
        }

        @include respond(tab-port) {
            height: 8vh;
        }

        @include respond(comments) {
            height: 13vh;
        }

        @include respond(phone) {
            height: 9vh;
        }

    }

    &__item {
        padding: 0;
        color: $color-black;

        &-author {
            font-size: 1rem;
            font-weight: $medium;
            display: block;
            padding-bottom: .2rem;
        }

        &-content {
            font-size: 1rem;
        }

    }

    &__new {
        width: 100%;
        margin-top: 1rem;
        padding: 1rem 0;
        border-top-width: .1rem;
        border-top-style: solid;
        border-top-color: $primary-color;
        border-bottom-width: .1rem;
        border-bottom-style: solid;
        border-bottom-color: $primary-color;
        
        &-input {
            border: none;
            width: 85%;
            padding: .5rem .2rem;
            transition: .2s all ease-out;
            border-radius: .4rem;

            @include respond(tab-land) {
                width: 80%;
            }
            
            @include respond(tab-port) {
                width: 75%;
                border-radius: .2rem;
            }

            &:focus {
                outline: none;
                border: .1rem solid $secondary-color;
            }
        }

    }
}