.form-login {  

    &__group {
        margin: 2.5rem 3rem;

        @include respond(tab-port) {
            margin: 2rem 3.5rem;
        }
    }

    &__box-icon {
        display: inline-block;
        position: absolute;
    }
    
    &__icon {
        width: 2rem;
        height: 2rem;
        fill: transparent;
        stroke: $secondary-color;
        stroke-width: .1rem;
        vertical-align: baseline;
    }

    &__label {
        display: inline;
        vertical-align: middle;
        font-size: 1.5rem;
        color: $secondary-color;
        margin-left: 2.5rem;
    }
    
    &__input {
        display: block;
        border: .1rem solid $secondary-color;
        border-radius: .4rem;
        padding: .8rem 1rem;
        width: 100%;

        transition: all .2s;

        @include respond(tab-port) {
            font-size: 1.2rem;
        }

        &:focus {
            outline: none;
            border: .1rem solid $primary-color;
        }
    }

}