.search {
    flex: 0 0 40%;
    display: flex;

    @include respond(phone) {
        order: 1;
        flex: 0 0 100%;
    }

    &__input {
        background-color: $primary-color;
        font-size: 1.2rem;
        color: $color-white;
        padding: 1rem 1.5rem;
        margin: 1rem 0 1rem 1rem;
        width: 100%;
        border: solid .1rem $color-white;
        border-right: none;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;

        transition: .2s all;

        @include respond(phone) {
            padding: .7rem 1rem;
        }

        &:focus {
            outline: none;
            color: black;
            background-color: $color-white;
            border: solid .1rem $secondary-color;
            border-right: none;
        }

        &::placeholder {
            color: $color-white;
        }
    }

    &__button {
        background-color: transparent;
        border: solid .1rem $color-white;
        border-left: none;
        border-top-right-radius: .7rem;
        border-bottom-right-radius: .7rem;
        margin-left: 0;
        padding-left: 1.2rem;
        padding-right: 1rem;
        margin: 1rem 1rem 1rem 0;

        transition: .2s all;

        @include respond(phone) {
            padding-left: 1rem;
            padding-right: .8rem;
        }
    }

    // los estilos se aplican al boton cuando el input esta en focus
    &__input:focus + &__button {
        border: solid .1rem $secondary-color;
        background-color: $secondary-color;
        border-left: none;
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        stroke: $color-white;
        stroke-width: .1rem;
        fill: transparent;
    }

}

