@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-1.2rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

@keyframes increaseSidebar {
  0% {
    width: inherit;
  }

  80% {
    width: auto;

  }

  100% {
    width: auto;

  }
}