@keyframes showContent {
  0% {
    opacity: 0;
  }
  80% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes containerCarrousel {
  from {
    transform: translate(50%);
  }
  to {
    box-shadow: none;
    transform: translate(0%);
  }
}

@keyframes containerCarrouselMovil {
  from {
    // @include shadowBox;
  }
  to {
    // box-shadow: none;
  }
}

@keyframes moveCarrousel {
  from {
    transform: scale(100%);
  }
  to {
    @include shadowBox;
    transform: scale(75%);
  }
}

@keyframes moveCarrouselMovil {
  from {
    transform: scale(100%);
  }
  to {
    transform: scale(85%);
    z-index: -10;
  }
}

@keyframes showComments {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(90%);
  }
}

@keyframes showCommentsMovil {
  from {
    // transform: translateY(0%);
    z-index: -10;
  }
  to {
    // transform: translateY(75%);
    // padding-bottom: 10rem;
    visibility: visible;
    @include shadowBox;
    z-index: 0;
  }
}

@keyframes containerCarrouselBack {
  from {
    box-shadow: transparent;
    transform: translate(0%)
  }
  to {
    @include shadowBox;
    transform: translate(50%);
  }
}

@keyframes containerCarrouselBackMovil {

}

@keyframes moveCarrouselBack {
  from {
    transform: translate(0%);
    transform: scale(75%);
  }
  
  to {
    transform: translate(50%);
    transform: scale(100%);
  }
}

@keyframes moveCarrouselBackMovil {
  from {
    z-index: -10;
    transform: scale(85%);
  }
  to {
    transform: scale(100%);
    z-index: 0;
  }
}


@keyframes showCommentsBack {
  from {
    transform: translate(90%);
    z-index: 0;
  }
  to {
    transform: translate(0%);
    z-index: -10;
  }
}

@keyframes showCommentsBackMovil {
  from {
    visibility: visible;
    @include shadowBox;
    z-index: 0;
  }
  to {
    z-index: -10;
  }
}
