// @keyframes moveInLeft {
//   0% {
//       opacity: 0;
//       transform: translateX(-1.2rem);
//   }

//   80% {
//       transform: translateX(1rem);
//   }

//   100% {
//       opacity: 1;
//       transform: translate(0);
//   }
// }

@keyframes containerCarrousel {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(0%);
  }
}

@keyframes moveCarrousel {
  from {
    transform: translate(50%);
    transform: scale(100%);
  }

  to {
    transform: translate(0%);
    transform: scale(75%);
  }
}

@keyframes showComments {
  from {
    transform: translate(50%);
  }

  to {
    transform: translate(90%);
  }
}

@keyframes containerCarrouselBack {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(50%);
  }
}

@keyframes moveCarrouselBack {
  from {
    transform: translate(0%);
    transform: scale(75%);
  }
  
  to {
    transform: translate(150%);
    transform: scale(100%);
  }
}

@keyframes showCommentsBack {
  from {
    transform: translate(90%);
  }
  
  to {
    transform: translate(0%);
  }
}





// @keyframes increaseSidebar {
//   0% {
//     width: inherit;
//   }

//   80% {
//     width: auto;

//   }

//   100% {
//     width: auto;

//   }
// }