*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    /* font-size en px que queremos / font-size default del navegador * 100 = font-size en %  */
    /* 10px / 16px * 100 = 62.5% */
    font-size: 62.5%; 
    /* 12px / 16px * 100 = 75% */
    // font-size: 75%; 
}

body {
    box-sizing: border-box;
    // overflow: hidden;
}