.primary-heading {
    font-size: 3.5rem;
    color: $secondary-color;
    font-weight: $medium;
}

.secondary-heading {
    font-size: 3rem;
    color: $secondary-color;
    font-weight: $regular;
}

.tertiary-heading {
    font-size: 2.5rem;
    color: $secondary-color;
    font-weight: $regular;
}