.body-login {
    overflow: hidden;

    @include respond(tab-port) {
        overflow-x: hidden;
    }

}

.rect {
    position: absolute;
    width: 100rem;
    height: 9rem;
    z-index: -10;
}

.rectangulo-naranja {
    transform: rotate(45deg);
    background-color: $primary-color;
    top: 15rem;
    right: 100rem;

    @include respond(big-desktop) {
        top: 20rem;
        right: 110rem;
    }

    @include respond(tab-land) {
        right: 90rem;
    }

    @include respond(tab-port) {
        top: 25rem;
        right: 90rem;
    }
}

.rectangulo-naranja-invertido {
    transform: rotate(315deg);
    background-color: $primary-color;
    top: 79.4rem;
    right: 100rem;

    @include respond(big-desktop) {
        top: 84.4rem;
        right: 110rem;
    }

    @include respond(tab-land) {
        right: 90rem;
    }

    @include respond(tab-port) {
        top: 89.4rem;
        right: 90rem;
    }
}

.rectangulo-azul {
    transform: rotate(45deg);
    background-color: $secondary-color;
    top: 15rem;
    right: 80rem;

    @include respond(big-desktop) {
        top: 20rem;
        right: 90rem;
    }

    @include respond(tab-land) {
        right: 70rem;
    }

    @include respond(tab-port) {
        top: 25rem;
        right: 65rem;
    }
}

.rectangulo-azul-invertido {
    transform: rotate(315deg);
    top: 79.4rem;
    background-color: $secondary-color;
    right: 80rem;

    @include respond(big-desktop) {
        top: 84.4rem;
        right: 90rem;
    }

    @include respond(tab-land) {
        right: 70rem;
    }

    @include respond(tab-port) {
        top: 89.4rem;
        right: 65rem;
    }
}

.rectangulo-naranja-sec {
    transform: rotate(45deg);
    background-color: $primary-color;
    top: 15rem;
    right: 10rem;

    @include respond(tab-port) {
        top: 25rem;
        right: 5rem;
    }
}

.rectangulo-naranja-invertido-sec {
    transform: rotate(315deg);
    background-color: $primary-color;
    top: 79.4rem;
    right: 10rem;

    @include respond(tab-port) {
        top: 89.4rem;
        right: 5rem;
    }
}

.rectangulo-azul-sec {
    transform: rotate(45deg);
    background-color: $secondary-color;
    top: 15rem;
    right: -10rem;

    @include respond(tab-port) {
        top: 25rem;
        right: -20rem;
    }
}

.rectangulo-azul-invertido-sec {
    transform: rotate(315deg);
    background-color: $secondary-color;
    top: 79.4rem;
    right: -10rem;

    @include respond(tab-port) {
        top: 89.4rem;
        right: -20rem;
    }
}

.login {
    position: absolute;
    width: 35rem;
    height: 53rem;
    border-radius: .4rem;
    background-color: $color-white;
    @include shadowBox;
    top: 50%;
    left: 50%;
    z-index: 10;
    
    transform: translate(-50%, -50%); 
    
    @include respond(tab-port) {
        height: 55rem;
    }

    &__logo-box {
        display: block;
        text-align: center;
        padding-top: 4rem;
    }
    
    &__logo {
        width: 70%;
    }

    &__heading {
        color: $secondary-color;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 2rem;
    }
    
}

