.body-login {
    overflow-y: hidden;
}

.rect {
    position: absolute;
    width: 100rem;
    height: 9rem;
    z-index: -10;
}

.rectangulo-naranja {
    transform: rotate(45deg);
    background-color: $primary-color;
    top: 10rem;
    right: 100rem;
}

.rectangulo-naranja-invertido {
    transform: rotate(315deg);
    background-color: $primary-color;
    top: 74.4rem;
    right: 100rem;
}

.rectangulo-azul {
    transform: rotate(45deg);
    background-color: $secondary-color;
    top: 10rem;
    right: 80rem;
}

.rectangulo-azul-invertido {
    transform: rotate(315deg);
    top: 74.4rem;
    background-color: $secondary-color;
    right: 80rem;
}

.rectangulo-naranja-sec {
    transform: rotate(45deg);
    background-color: $primary-color;
    top: 10rem;
    right: 10rem;
}

.rectangulo-naranja-invertido-sec {
    transform: rotate(315deg);
    top: 74.4rem;
    background-color: $primary-color;
    right: 10rem;
}

.rectangulo-azul-sec {
    transform: rotate(45deg);
    background-color: $secondary-color;
    top: 10rem;
    right: -10rem;
}

.rectangulo-azul-invertido-sec {
    transform: rotate(315deg);
    top: 74.4rem;
    background-color: $secondary-color;
    right: -10rem;
}

.login {
    position: absolute;
    width: 25%;
    height: 80%;
    border-radius: .4rem;
    background-color: $color-white;
    box-shadow: .1rem .1rem 1rem .1rem $color-shadow;
    top: 50%;
    left: 50%;
    z-index: 10;

    transform: translate(-50%, -50%); 
    
    &__logo-box {
        display: block;
        text-align: center;
        padding-top: 4rem;
    }
    
    &__logo {
        width: 70%;
    }

    &__heading {
        color: $secondary-color;
        font-weight: 400;
        font-size: 2.5rem;
        text-align: center;
        padding-top: 2rem;
    }
    
}

